openapi: 3.1.0
info:
  title: Smithery Registry API
  version: 1.0.0
  description: Discover and manage MCP servers, skills, and tools on Smithery. Browse the public registry, publish releases, manage server icons/secrets/logs, create namespaces, manage organization API
    keys, and mint scoped service tokens.
servers:
- url: https://api.smithery.ai
paths:
  /health:
    get:
      operationId: getHealth
      summary: Health check
      description: Check if the service is running
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
        '500':
          description: Service unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthError'
  /servers/{qualifiedName}:
    get:
      operationId: getServers:namespace
      tags:
      - servers
      summary: Get a server
      description: Retrieve server details including connections, tools, and security status.
      responses:
        '200':
          description: Server found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
        '404':
          description: Server or namespace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryError'
      parameters:
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
    put:
      operationId: putServers:namespace
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  example: My Server
                  type: string
                description:
                  example: A simple server
                  type: string
              id: CreateNamespaceServerRequest
      tags:
      - servers
      summary: Create a server
      description: "Create a new server. Idempotent \u2014 returns success if the server already exists and is owned by the caller."
      responses:
        '201':
          description: Server created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  namespace:
                    type: string
                    example: myorg
                  server:
                    type: string
                    example: ''
                  displayName:
                    type: string
                    example: My Server
                  description:
                    type: string
                    example: A simple server
                  createdAt:
                    type: string
                    example: '2024-01-01T00:00:00.000Z'
                required:
                - namespace
                - server
                - displayName
                - description
                - createdAt
                id: CreateNamespaceServerResponse
        '400':
          description: Bad request (invalid name format)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryError'
        '403':
          description: Forbidden (namespace not owned by user or missing servers:write permission)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryError'
        '404':
          description: Namespace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryError'
      parameters:
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
    patch:
      operationId: patchServers:namespace
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                description:
                  type: string
                homepage:
                  anyOf:
                  - type: string
                  - type: 'null'
                repositoryUrl:
                  anyOf:
                  - type: string
                  - type: 'null'
                backlinkUrl:
                  anyOf:
                  - type: string
                  - type: 'null'
                license:
                  anyOf:
                  - type: string
                  - type: 'null'
                iconUrl:
                  anyOf:
                  - type: string
                  - type: 'null'
                unlisted:
                  type: boolean
              id: UpdateServerRequest
      tags:
      - servers
      summary: Update a server
      description: Update server metadata such as display name, description, repository, icon, or visibility.
      responses:
        '200':
          description: Server updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  namespace:
                    type: string
                  server:
                    type: string
                required:
                - success
                - namespace
                - server
                id: UpdateServerResponse
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryError'
        '404':
          description: Server not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryError'
      parameters:
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
    delete:
      operationId: deleteServers:namespace
      tags:
      - servers
      summary: Delete a server
      description: Permanently delete a server, its releases, and associated resources.
      responses:
        '200':
          description: Server deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  namespace:
                    type: string
                  server:
                    type: string
                required:
                - success
                - namespace
                - server
                id: DeleteSuccess
        '404':
          description: Server not found or not owned by user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryError'
      parameters:
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
  /servers/{qualifiedName}/download:
    get:
      operationId: getServers:namespaceDownload
      tags:
      - servers
      summary: Download server bundle
      description: Download the MCPB bundle for the latest successful stdio release.
      responses:
        '200':
          description: Bundle file
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '404':
          description: Bundle not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
                id: BundleDownloadError
      parameters:
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
  /servers/{qualifiedName}/releases:
    put:
      operationId: putServers:namespaceReleases
      tags:
      - servers
      summary: Publish a server
      description: Submit a release via multipart form. Supports hosted (JS module upload), external (URL), and stdio (MCPB bundle) release types.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                payload:
                  type: string
                  description: JSON-encoded release payload. See DeployPayload schema for structure.
                module:
                  type: string
                  format: binary
                  description: JavaScript module file (for hosted releases)
                sourcemap:
                  type: string
                  format: binary
                  description: Source map file (for hosted releases)
                bundle:
                  type: string
                  format: binary
                  description: MCPB bundle file (for stdio releases)
              required:
              - payload
      responses:
        '202':
          description: Release accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployResponse'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentError'
      parameters:
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
    get:
      operationId: getServers:namespaceReleases
      parameters:
      - in: query
        name: page
        schema:
          default: 1
          type: integer
          minimum: 1
          maximum: 9007199254740991
      - in: query
        name: pageSize
        schema:
          default: 20
          type: integer
          minimum: 1
          maximum: 100
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
      tags:
      - servers
      summary: List releases
      description: "List releases ordered by most recent first. Logs are omitted \u2014 fetch a specific release to see logs."
      responses:
        '200':
          description: Paginated list of releases
          content:
            application/json:
              schema:
                type: object
                properties:
                  releases:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                        status:
                          type: string
                          description: 'Current status: QUEUED, WORKING, SUCCESS, FAILURE, FAILURE_SCAN, AUTH_REQUIRED, CANCELLED, or INTERNAL_ERROR.'
                        type:
                          type: string
                          description: 'Release type: hosted_shttp (Smithery-hosted), external_shttp (external URL), or stdio (local binary).'
                        commit:
                          description: Git commit SHA that triggered this release.
                          anyOf:
                          - type: string
                          - type: 'null'
                        commitMessage:
                          description: Git commit message associated with this release.
                          anyOf:
                          - type: string
                          - type: 'null'
                        branch:
                          description: Git branch this release was built from.
                          anyOf:
                          - type: string
                          - type: 'null'
                        upstreamUrl:
                          description: Upstream MCP server URL. Present only for external releases.
                          anyOf:
                          - type: string
                          - type: 'null'
                        mcpUrl:
                          description: The MCP endpoint URL for connecting to this server.
                          type: string
                          format: uri
                        createdAt:
                          type: string
                          description: ISO 8601 timestamp of when the release was created.
                        updatedAt:
                          type: string
                          description: ISO 8601 timestamp of the last status change.
                      required:
                      - id
                      - status
                      - type
                      - createdAt
                      - updatedAt
                  pagination:
                    type: object
                    properties:
                      currentPage:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      pageSize:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      totalPages:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      totalCount:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                    required:
                    - currentPage
                    - pageSize
                    - totalPages
                    - totalCount
                required:
                - releases
                - pagination
                id: DeploymentListPage
        '404':
          description: Server not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentError'
  /servers/{qualifiedName}/releases/{id}:
    get:
      operationId: getServers:namespaceReleases:id
      tags:
      - servers
      summary: Get a release
      description: Retrieve release details including status, git metadata, pipeline logs, and MCP endpoint URL.
      responses:
        '200':
          description: Release info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentInfo'
        '404':
          description: Server or release not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentError'
      parameters:
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
      - schema:
          type: string
        in: path
        name: id
        required: true
  /servers/{qualifiedName}/releases/{id}/stream:
    get:
      operationId: getServers:namespaceReleases:idStream
      tags:
      - servers
      summary: Stream release logs
      description: Real-time SSE stream of release logs and status updates.
      responses:
        '200':
          description: SSE stream of release events
          content:
            text/event-stream:
              schema:
                type: string
                description: 'SSE events: init (with buffered logs), log, status, complete'
        '404':
          description: Release not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentError'
      parameters:
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
      - schema:
          type: string
        in: path
        name: id
        required: true
  /servers/{qualifiedName}/releases/{id}/resume:
    post:
      operationId: postServers:namespaceReleases:idResume
      tags:
      - servers
      summary: Resume a release
      description: Resume a paused release (e.g. after OAuth authorization). Use id='latest' to resume the most recent one.
      responses:
        '202':
          description: Resume accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumeResponse'
        '400':
          description: Release not in resumable state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentError'
        '404':
          description: Server or release not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentError'
      parameters:
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
      - schema:
          type: string
        in: path
        name: id
        required: true
  /servers/{qualifiedName}/logs:
    get:
      operationId: getServers:namespaceLogs
      tags:
      - servers
      summary: List runtime logs
      description: Fetch recent runtime logs grouped by invocation.
      responses:
        '200':
          description: Logs fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeLogsResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeLogsError'
        '404':
          description: Server not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeLogsError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeLogsError'
      parameters:
      - in: query
        name: from
        schema:
          example: '2026-01-01T00:00:00Z'
          type: string
        description: Start of time range (ISO 8601).
      - in: query
        name: to
        schema:
          example: '2026-01-01T01:00:00Z'
          type: string
        description: End of time range (ISO 8601).
      - in: query
        name: limit
        schema:
          example: 20
          type: integer
          minimum: 1
          maximum: 100
        description: Max invocations to return. Defaults to 20.
      - in: query
        name: search
        schema:
          example: error
          type: string
        description: Text search across log messages.
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
  /servers/{qualifiedName}/secrets:
    get:
      operationId: getServers:namespaceSecrets
      tags:
      - servers
      summary: List secrets
      description: List secret names. Values are not returned.
      responses:
        '200':
          description: Secrets listed
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      example: API_KEY
                    type:
                      type: string
                      example: secret_text
                  required:
                  - name
                  - type
        '404':
          description: Server not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Server not found
                required:
                - error
      parameters:
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
      x-hidden: true
    put:
      operationId: putServers:namespaceSecrets
      tags:
      - servers
      summary: Set a secret
      description: Create or update a secret value.
      responses:
        '200':
          description: Secret updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                - success
        '404':
          description: Server not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Server not found
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                value:
                  type: string
                  minLength: 1
              required:
              - name
              - value
      parameters:
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
      x-hidden: true
  /servers/{qualifiedName}/secrets/{secretName}:
    delete:
      operationId: deleteServers:namespaceSecrets:secretName
      tags:
      - servers
      summary: Delete a secret
      description: Remove a secret by name.
      responses:
        '200':
          description: Secret deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                - success
        '404':
          description: Server not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Server not found
                required:
                - error
      parameters:
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
      - schema:
          type: string
        in: path
        name: secretName
        required: true
      x-hidden: true
  /servers/{qualifiedName}/domains:
    get:
      operationId: getServers:namespaceDomains
      tags:
      - domains
      summary: List domains
      description: List the domains for a server.
      responses:
        '200':
          description: Domain list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainListResponse'
        '404':
          description: Server not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainsError'
      parameters:
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
      x-hidden: true
  /servers/{qualifiedName}/domains/{domainId}:
    patch:
      operationId: patchServers:namespaceDomains:domainId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDomainRequest'
      tags:
      - domains
      summary: Update managed domain
      description: Update the managed run.tools slug for a server.
      responses:
        '200':
          description: Managed domain updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResource'
        '404':
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainsError'
        '409':
          description: "Conflict \u2014 managed run.tools slug already taken"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainsError'
      parameters:
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
      - schema:
          type: string
        in: path
        name: domainId
        required: true
      x-hidden: true
  /servers/{qualifiedName}/icon:
    put:
      operationId: putServers:namespaceIcon
      tags:
      - servers
      summary: Upload server icon
      description: 'Upload or replace the server icon. Accepts a single image file via multipart/form-data. Max 1MB. Supported formats: PNG, JPEG, GIF, SVG, WebP.'
      responses:
        '200':
          description: Icon uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  iconUrl:
                    type: string
                    example: https://icons.smithery.ai/server-id.png
                required:
                - iconUrl
                id: IconResponse
        '400':
          description: Bad request (invalid file type, too large, or no file)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: File too large
                required:
                - error
                id: IconError
        '403':
          description: Forbidden (user doesn't own server)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: File too large
                required:
                - error
                id: IconError
        '404':
          description: Server not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: File too large
                required:
                - error
                id: IconError
      parameters:
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
    delete:
      operationId: deleteServers:namespaceIcon
      tags:
      - servers
      summary: Delete server icon
      description: Remove the server's icon.
      responses:
        '200':
          description: Icon deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                required:
                - success
                id: IconDeleteResponse
        '403':
          description: Forbidden (user doesn't own server)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: File too large
                required:
                - error
                id: IconError
        '404':
          description: Server not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: File too large
                required:
                - error
                id: IconError
      parameters:
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
    get:
      operationId: getServers:namespaceIcon
      tags:
      - servers
      summary: Get server icon
      description: Retrieve the server's icon image. Returns the image directly with appropriate content type.
      responses:
        '200':
          description: Icon image
          content:
            image/*:
              schema:
                type: string
                format: binary
        '404':
          description: No icon found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: File too large
                required:
                - error
                id: IconError
      parameters:
      - schema:
          type: string
        in: path
        name: qualifiedName
        required: true
        description: The server's qualified name (e.g. 'namespace/server' or 'namespace' for namespace-only servers). Use %2F to encode the slash.
  /servers:
    get:
      operationId: getServers
      tags:
      - servers
      summary: List all servers
      description: Search and browse public MCP servers in the Smithery registry. Supports full-text and semantic search via the `q` parameter, and filtering by deployment status, verification, ownership,
        and more.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServersListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServersListError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServersListError'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServersListError'
      parameters:
      - in: query
        name: q
        schema:
          type: string
        description: Search query for full-text and semantic search across server names and descriptions.
      - in: query
        name: page
        schema:
          type: integer
          minimum: 1
          maximum: 9007199254740991
        description: Page number (1-indexed).
      - in: query
        name: pageSize
        schema:
          type: integer
          minimum: 1
          maximum: 100
        description: Number of results per page (default 10, max 100).
      - in: query
        name: topK
        schema:
          type: integer
          minimum: 10
          maximum: 500
        description: Maximum number of candidate results to consider from the search index before pagination.
      - in: query
        name: fields
        schema:
          type: string
        description: Comma-separated list of fields to include in response
      - in: query
        name: ids
        schema:
          type: array
          items:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
        description: Filter by specific server IDs.
      - in: query
        name: qualifiedName
        schema:
          type: string
        description: 'Exact match on the server''s qualified name (e.g. "smithery/hello-world"). Deprecated: use GET /servers/:namespace/:server instead.'
      - in: query
        name: namespace
        schema:
          type: string
        description: Filter by the namespace that owns the server.
      - in: query
        name: remote
        schema:
          type: string
          enum:
          - '0'
          - '1'
          - 'true'
          - 'false'
        description: Filter by remote status. Remote servers are accessed via URL; non-remote servers run locally via stdio.
      - in: query
        name: isDeployed
        schema:
          type: string
          enum:
          - '0'
          - '1'
          - 'true'
          - 'false'
        description: Filter by deployment status. Deployed servers are hosted on Smithery infrastructure.
      - in: query
        name: verified
        schema:
          type: string
          enum:
          - '0'
          - '1'
          - 'true'
          - 'false'
        description: Filter to only verified servers.
      - in: query
        name: ownerId
        schema:
          type: string
        description: Filter by the server owner's user ID.
      - in: query
        name: repoOwner
        schema:
          type: string
        description: Filter by GitHub repository owner from repository_url.
      - in: query
        name: repoName
        schema:
          type: string
        description: Filter by GitHub repository name from repository_url.
      - in: query
        name: seed
        schema:
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
        description: Random seed for deterministic pagination. When provided, results use a stable sort order that is consistent across pages for the same seed value.
  /skills:
    get:
      operationId: getSkills
      tags:
      - skills
      summary: List or search skills
      description: Search and browse reusable prompt-based skills. Supports full-text and semantic search via the `q` parameter, and filtering by category, namespace, or slug.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillsListResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillsListError'
      parameters:
      - in: query
        name: q
        schema:
          type: string
        description: Search query for full-text and semantic search across skill names and descriptions.
      - in: query
        name: category
        schema:
          type: string
        description: Filter by skill category (e.g. 'code', 'data', 'web').
      - in: query
        name: namespace
        schema:
          type: string
        description: Filter by the namespace that owns the skill.
      - in: query
        name: slug
        schema:
          type: string
        description: 'Filter by exact skill slug within a namespace. Deprecated: use GET /skills/:namespace/:slug instead.'
      - in: query
        name: ownerId
        schema:
          type: string
        description: Filter by the skill owner's organization ID.
      - in: query
        name: verified
        schema:
          type: boolean
        description: Filter by whether the skill's namespace is verified.
      - in: query
        name: page
        schema:
          type: integer
          minimum: 1
          maximum: 9007199254740991
        description: Page number (1-indexed).
      - in: query
        name: pageSize
        schema:
          type: integer
          minimum: 1
          maximum: 100
        description: Number of results per page (default 20, max 100).
      - in: query
        name: topK
        schema:
          type: integer
          minimum: 10
          maximum: 500
        description: Maximum number of candidate results to consider from the search index before pagination.
      - in: query
        name: fields
        schema:
          type: string
        description: Comma-separated list of fields to include in response
    post:
      operationId: postSkills
      tags:
      - skills
      summary: Create a new skill (deprecated)
      description: '**Deprecated:** Use PUT /skills/{namespace}/{slug} instead. Create a new skill by linking a GitHub repository containing a SKILL.md file.'
      deprecated: true
      responses:
        '200':
          description: Skill created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  namespace:
                    type: string
                  slug:
                    type: string
                  displayName:
                    type: string
                  description:
                    type: string
                  gitUrl:
                    type: string
                  listed:
                    type: boolean
                  createdAt:
                    type: string
                required:
                - id
                - namespace
                - slug
                - displayName
                - description
                - gitUrl
                - listed
                - createdAt
                id: CreateSkillResponse
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                required:
                - error
                id: CreateSkillError
        '403':
          description: Forbidden - user does not own the namespace
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                required:
                - error
                id: CreateSkillError
        '404':
          description: Namespace not found or SKILL.md not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                required:
                - error
                id: CreateSkillError
        '409':
          description: Skill with this slug or git URL already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                required:
                - error
                id: CreateSkillError
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                namespace:
                  type: string
                  minLength: 1
                  description: The namespace to create the skill in.
                slug:
                  type: string
                  minLength: 1
                  pattern: ^[a-z0-9-]+$
                  description: URL-friendly identifier for the skill.
                gitUrl:
                  type: string
                  format: uri
                  description: GitHub URL pointing to a repository with SKILL.md
              required:
              - namespace
              - slug
              - gitUrl
              id: CreateSkillRequest
  /skills/{namespace}/{slug}:
    get:
      operationId: getSkills:namespace:slug
      tags:
      - skills
      summary: Get a skill
      description: Get a single skill by its namespace and slug.
      responses:
        '200':
          description: Skill found
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  namespace:
                    type: string
                  slug:
                    type: string
                  displayName:
                    type: string
                  description:
                    type: string
                  prompt:
                    type: string
                  qualityScore:
                    type: number
                  externalStars:
                    type: number
                  externalForks:
                    type: number
                  totalActivations:
                    type: number
                  uniqueUsers:
                    type: number
                  categories:
                    type: array
                    items:
                      type: string
                  servers:
                    type: array
                    items:
                      type: string
                  gitUrl:
                    anyOf:
                    - type: string
                    - type: 'null'
                  verified:
                    type: boolean
                    description: Whether this skill's namespace is verified.
                  listed:
                    type: boolean
                  owner:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: Organization ID of the skill owner (from namespace)
                  createdAt:
                    type: string
                required:
                - id
                - namespace
                - slug
                - displayName
                - description
                - prompt
                - qualityScore
                - externalStars
                - externalForks
                - totalActivations
                - uniqueUsers
                - categories
                - servers
                - gitUrl
                - verified
                - listed
                - owner
                - createdAt
                id: SkillResponse
        '404':
          description: Skill not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
                id: SkillError
      parameters:
      - schema:
          type: string
        in: path
        name: namespace
        required: true
      - schema:
          type: string
        in: path
        name: slug
        required: true
    put:
      operationId: putSkills:namespace:slug
      tags:
      - skills
      summary: Create or update a skill
      description: Idempotent endpoint to create or update a GitHub-backed skill. Send application/json with `gitUrl`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              vendor: zod
      responses:
        '200':
          description: Skill updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  namespace:
                    type: string
                  slug:
                    type: string
                  displayName:
                    type: string
                  description:
                    type: string
                  gitUrl:
                    anyOf:
                    - type: string
                    - type: 'null'
                  externalStars:
                    type: number
                  listed:
                    type: boolean
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
                required:
                - id
                - namespace
                - slug
                - displayName
                - description
                - gitUrl
                - externalStars
                - listed
                - createdAt
                - updatedAt
                id: PutSkillResponse
        '201':
          description: Skill created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  namespace:
                    type: string
                  slug:
                    type: string
                  displayName:
                    type: string
                  description:
                    type: string
                  gitUrl:
                    anyOf:
                    - type: string
                    - type: 'null'
                  externalStars:
                    type: number
                  listed:
                    type: boolean
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
                required:
                - id
                - namespace
                - slug
                - displayName
                - description
                - gitUrl
                - externalStars
                - listed
                - createdAt
                - updatedAt
                id: PutSkillResponse
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                required:
                - error
                id: CreateSkillError
        '403':
          description: Forbidden - user does not own the namespace
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                required:
                - error
                id: CreateSkillError
        '404':
          description: Namespace not found or SKILL.md not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                required:
                - error
                id: CreateSkillError
        '409':
          description: Git URL already claimed by another skill
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                required:
                - error
                id: CreateSkillError
        '422':
          description: SKILL.md validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                required:
                - error
                id: CreateSkillError
      parameters:
      - schema:
          type: string
        in: path
        name: namespace
        required: true
      - schema:
          type: string
        in: path
        name: slug
        required: true
    delete:
      operationId: deleteSkills:namespace:slug
      tags:
      - skills
      summary: Delete a skill
      description: Delete a skill by namespace and slug. Requires ownership of the namespace.
      responses:
        '200':
          description: Skill deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  qualifiedName:
                    type: string
                required:
                - success
                - qualifiedName
                id: DeleteSkillResponse
        '403':
          description: Forbidden - user does not own the namespace
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
                id: SkillError
        '404':
          description: Skill not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
                id: SkillError
      parameters:
      - schema:
          type: string
        in: path
        name: namespace
        required: true
      - schema:
          type: string
        in: path
        name: slug
        required: true
  /skills/{namespace}/{slug}/download:
    get:
      operationId: getSkills:namespace:slugDownload
      tags:
      - skills
      summary: Download skill bundle
      description: Download a ZIP bundle containing all skill files.
      responses:
        '200':
          description: Skill ZIP file
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '404':
          description: Skill not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
                id: SkillError
      parameters:
      - schema:
          type: string
        in: path
        name: namespace
        required: true
      - schema:
          type: string
        in: path
        name: slug
        required: true
      x-hidden: true
  /skills/{namespace}/{slug}/sync:
    post:
      operationId: postSkills:namespace:slugSync
      tags:
      - skills
      summary: Sync skill metadata from GitHub (deprecated)
      description: '**Deprecated:** Use PUT /skills/{namespace}/{slug} instead. Refetch SKILL.md and repository stars from GitHub and update the skill record.'
      deprecated: true
      responses:
        '200':
          description: Skill synced successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  namespace:
                    type: string
                  slug:
                    type: string
                  displayName:
                    type: string
                  description:
                    type: string
                  externalStars:
                    type: number
                  gitUrl:
                    type: string
                  updatedAt:
                    type: string
                required:
                - id
                - namespace
                - slug
                - displayName
                - description
                - externalStars
                - gitUrl
                - updatedAt
                id: SyncSkillResponse
        '403':
          description: Forbidden - user does not own the namespace
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
                id: SkillError
        '404':
          description: Skill not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
                id: SkillError
        '422':
          description: Validation error - SKILL.md invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                required:
                - error
                id: CreateSkillError
      parameters:
      - schema:
          type: string
        in: path
        name: namespace
        required: true
      - schema:
          type: string
        in: path
        name: slug
        required: true
      x-hidden: true
  /skills/{namespace}/{slug}/upload:
    put:
      operationId: putSkills:namespace:slugUpload
      tags:
      - skills
      summary: Upload a skill bundle
      description: Upload or replace a skill bundle via multipart/form-data with an `archive` file.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                archive:
                  type: string
                  format: binary
                  description: ZIP file upload containing a skill folder with SKILL.md and any scripts, references, or assets.
              required:
              - archive
      responses:
        '200':
          description: Skill updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  namespace:
                    type: string
                  slug:
                    type: string
                  displayName:
                    type: string
                  description:
                    type: string
                  gitUrl:
                    anyOf:
                    - type: string
                    - type: 'null'
                  externalStars:
                    type: number
                  listed:
                    type: boolean
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
                required:
                - id
                - namespace
                - slug
                - displayName
                - description
                - gitUrl
                - externalStars
                - listed
                - createdAt
                - updatedAt
                id: PutSkillResponse
        '201':
          description: Skill created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  namespace:
                    type: string
                  slug:
                    type: string
                  displayName:
                    type: string
                  description:
                    type: string
                  gitUrl:
                    anyOf:
                    - type: string
                    - type: 'null'
                  externalStars:
                    type: number
                  listed:
                    type: boolean
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
                required:
                - id
                - namespace
                - slug
                - displayName
                - description
                - gitUrl
                - externalStars
                - listed
                - createdAt
                - updatedAt
                id: PutSkillResponse
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                required:
                - error
                id: CreateSkillError
        '403':
          description: Forbidden - user does not own the namespace
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                required:
                - error
                id: CreateSkillError
        '404':
          description: Namespace not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                required:
                - error
                id: CreateSkillError
        '422':
          description: SKILL.md validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                required:
                - error
                id: CreateSkillError
        '502':
          description: Failed to store uploaded skill bundle
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                required:
                - error
                id: CreateSkillError
      parameters:
      - schema:
          type: string
        in: path
        name: namespace
        required: true
      - schema:
          type: string
        in: path
        name: slug
        required: true
      x-hidden: true
  /tokens:
    post:
      operationId: postTokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTokenRequest'
      tags:
      - tokens
      summary: Create a service token
      description: Create a service token for machine-to-machine authentication. Accepts API key or bearer token. Optionally apply restrictions.
      responses:
        '200':
          description: Token created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTokenResponse'
        '400':
          description: Bad request (invalid parameters)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenError'
        '401':
          description: Unauthorized (missing or invalid credentials)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenError'
  /namespaces:
    get:
      operationId: getNamespaces
      tags:
      - namespaces
      summary: Get user's namespaces or search namespaces
      description: When called without query params, returns the authenticated user's namespaces (backwards compatible). When query params are provided, searches public namespaces with pagination. Use ownerId
        to filter by owner, hasServers/hasSkills to filter by content, q for text search.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespacesSearchResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespacesError'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespacesError'
      parameters:
      - in: query
        name: q
        schema:
          type: string
        description: Text search query (prefix match on name)
      - in: query
        name: ownerId
        schema:
          type: string
        description: Filter by owner ID
      - in: query
        name: hasServers
        schema:
          type: string
          enum:
          - '0'
          - '1'
          - 'true'
          - 'false'
        description: Filter namespaces with servers
      - in: query
        name: hasSkills
        schema:
          type: string
          enum:
          - '0'
          - '1'
          - 'true'
          - 'false'
        description: Filter namespaces with skills
      - in: query
        name: page
        schema:
          type: integer
          minimum: 1
          maximum: 9007199254740991
      - in: query
        name: pageSize
        schema:
          type: integer
          minimum: 1
          maximum: 50
      - in: query
        name: fields
        schema:
          type: string
        description: Comma-separated list of fields to include in response
    post:
      operationId: postNamespaces
      tags:
      - namespaces
      summary: Create a new namespace with generated name
      description: Create a new namespace with a server-generated human-readable name, owned by the authenticated user
      responses:
        '201':
          description: Namespace created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNamespaceResponse'
        '400':
          description: Bad request (user already has a namespace)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespacesError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespacesError'
        '403':
          description: Forbidden - missing namespaces:write permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespacesError'
  /namespaces/{name}:
    put:
      operationId: putNamespaces:name
      parameters:
      - in: path
        name: name
        schema:
          type: string
          minLength: 3
          maxLength: 39
        required: true
      tags:
      - namespaces
      summary: Create a new namespace
      description: Create a new namespace owned by the authenticated user or an organization. This endpoint is idempotent - if the namespace already exists and is owned by the user/org, returns success.
        Pass organizationId in the request body to create an org-owned namespace.
      responses:
        '201':
          description: Namespace created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNamespaceResponse'
        '400':
          description: Bad request (invalid name format or user already has a namespace)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespacesError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespacesError'
        '403':
          description: Forbidden - missing namespaces:write permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespacesError'
        '409':
          description: Conflict (namespace already exists)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespacesError'
    delete:
      operationId: deleteNamespaces:name
      parameters:
      - in: path
        name: name
        schema:
          type: string
          minLength: 3
          maxLength: 39
        required: true
      tags:
      - namespaces
      summary: Delete a namespace
      description: Delete a namespace owned by the authenticated user. The namespace must not contain any servers. Skills and connections in the namespace will be deleted automatically.
      responses:
        '200':
          description: Namespace deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  name:
                    type: string
                    example: myorg
                required:
                - success
                - name
                id: DeleteNamespaceResponse
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespacesError'
        '403':
          description: Forbidden - user does not own this namespace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespacesError'
        '404':
          description: Namespace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespacesError'
        '409':
          description: Conflict - namespace contains servers that must be deleted first
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespacesError'
  /namespaces/{namespace}/servers/{server}:
    put:
      operationId: putNamespaces:namespaceServers:server
      parameters:
      - in: path
        name: server
        schema:
          type: string
          minLength: 3
          maxLength: 39
        required: true
      - schema:
          type: string
        in: path
        name: namespace
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServerRequest'
      tags:
      - namespaces
      summary: Create a server under a namespace (deprecated)
      description: '**Deprecated:** Use PUT /servers/{namespace}/{server} instead. Create a new server under the specified namespace. This endpoint is idempotent.'
      deprecated: true
      responses:
        '201':
          description: Server created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateServerResponse'
        '400':
          description: Bad request (invalid name format)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateServerError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateServerError'
        '403':
          description: Forbidden (namespace not owned by user or missing servers:write permission)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateServerError'
        '404':
          description: Namespace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateServerError'
  /organizations/{orgId}/api-keys:
    post:
      operationId: postOrganizations:orgIdApi-keys
      tags:
      - organizations
      summary: Create a team API key
      description: Creates an API key owned by the organization. Requires admin role.
      responses:
        '201':
          description: API key created (key value only shown on creation)
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  key:
                    type: string
                  createdAt:
                    type: string
                required:
                - id
                - name
                - key
                - createdAt
                id: TeamApiKeyCreated
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
                id: OrganizationError
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
                id: OrganizationError
        '403':
          description: "Forbidden \u2014 user is not an admin"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
                id: OrganizationError
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 256
                  description: Name for the team API key
              required:
              - name
              id: CreateTeamApiKeyBody
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
    get:
      operationId: getOrganizations:orgIdApi-keys
      tags:
      - organizations
      summary: List team API keys
      description: Returns all API keys belonging to the organization. Requires admin role. Key values are not included in the response.
      responses:
        '200':
          description: List of team API keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKeys:
                    type: array
                    items:
                      $ref: '#/components/schemas/TeamApiKey'
                required:
                - apiKeys
                $defs:
                  TeamApiKey:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      createdAt:
                        type: string
                    required:
                    - id
                    - name
                    - createdAt
                    id: TeamApiKey
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
                id: OrganizationError
        '403':
          description: "Forbidden \u2014 user is not an admin"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
                id: OrganizationError
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
  /organizations/{orgId}/api-keys/{keyId}:
    delete:
      operationId: deleteOrganizations:orgIdApi-keys:keyId
      tags:
      - organizations
      summary: Revoke a team API key
      description: Deletes an API key belonging to the organization. Requires admin role.
      responses:
        '200':
          description: API key revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                - success
                id: RevokeTeamApiKeyResponse
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
                id: OrganizationError
        '403':
          description: "Forbidden \u2014 user is not an admin"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
                id: OrganizationError
        '404':
          description: API key not found in this organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
                id: OrganizationError
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          type: string
        in: path
        name: keyId
        required: true
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Smithery API key as Bearer token
  schemas:
    Health:
      type: object
      properties:
        status:
          type: string
        timestamp:
          type: string
      required:
      - status
      - timestamp
      additionalProperties: false
    HealthError:
      type: object
      properties:
        error:
          type: string
          example: Service unhealthy
      required:
      - error
      additionalProperties: false
    ConfigSchema:
      type: object
      propertyNames:
        type: string
      additionalProperties:
        x-stainless-any: true
    StdioConnection:
      type: object
      properties:
        type:
          type: string
          const: stdio
        bundleUrl:
          type: string
          format: uri
        runtime:
          type: string
          enum:
          - node
          - binary
          - python
          - bun
        configSchema:
          $ref: '#/components/schemas/ConfigSchema'
      required:
      - type
      - bundleUrl
      - runtime
      - configSchema
      additionalProperties: false
      id: StdioConnection
    HttpConnection:
      type: object
      properties:
        type:
          type: string
          const: http
        deploymentUrl:
          type: string
        configSchema:
          $ref: '#/components/schemas/ConfigSchema'
      required:
      - type
      - deploymentUrl
      - configSchema
      additionalProperties: false
      id: HttpConnection
    ServerSecurity:
      type: object
      properties:
        scanPassed:
          type: boolean
          example: true
      required:
      - scanPassed
      additionalProperties: false
      id: ServerSecurity
    ServerTool:
      type: object
      properties:
        name:
          type: string
          example: get_weather
        description:
          anyOf:
          - type: string
          - type: 'null'
          example: Get current weather
        inputSchema:
          $ref: '#/components/schemas/ToolInputSchema'
        outputSchema:
          $ref: '#/components/schemas/ToolOutputSchema'
      required:
      - name
      - description
      - inputSchema
      additionalProperties: false
      id: ServerTool
    ToolInputSchema:
      type: object
      properties:
        type:
          type: string
          const: object
        properties:
          $ref: '#/components/schemas/InputSchemaProperties'
      required:
      - type
      additionalProperties: false
      id: ToolInputSchema
    InputSchemaProperties:
      id: InputSchemaProperties
      type: object
      propertyNames:
        type: string
      additionalProperties:
        x-stainless-any: true
    ToolOutputSchema:
      id: ToolOutputSchema
      type: object
      properties:
        type:
          type: string
          const: object
        properties:
          $ref: '#/components/schemas/OutputSchemaProperties'
        required:
          type: array
          items:
            type: string
      required:
      - type
      additionalProperties: false
    OutputSchemaProperties:
      id: OutputSchemaProperties
      type: object
      propertyNames:
        type: string
      additionalProperties: {}
    ServerResource:
      type: object
      properties:
        name:
          type: string
          example: config://settings
        uri:
          type: string
          example: config://app/settings
        description:
          example: Application settings
          type: string
        mimeType:
          example: application/json
          type: string
      required:
      - name
      - uri
      additionalProperties: false
      id: ServerResource
    ServerPrompt:
      type: object
      properties:
        name:
          type: string
          example: summarize
        description:
          example: Summarize the given text
          type: string
        arguments:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: text
              description:
                example: The text to summarize
                type: string
              required:
                example: true
                type: boolean
            required:
            - name
            additionalProperties: false
      required:
      - name
      additionalProperties: false
      id: ServerPrompt
    Server:
      type: object
      properties:
        qualifiedName:
          type: string
          example: smithery/hello-world
        displayName:
          type: string
          example: Hello World
        description:
          type: string
          example: A simple hello world server
        iconUrl:
          anyOf:
          - type: string
          - type: 'null'
          example: https://example.com/icon.png
        remote:
          type: boolean
          example: true
        deploymentUrl:
          anyOf:
          - type: string
          - type: 'null'
          example: https://api.example.com
        connections:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/StdioConnection'
            - $ref: '#/components/schemas/HttpConnection'
        security:
          anyOf:
          - $ref: '#/components/schemas/ServerSecurity'
          - type: 'null'
        tools:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/ServerTool'
          - type: 'null'
        resources:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/ServerResource'
          - type: 'null'
        prompts:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/ServerPrompt'
          - type: 'null'
      required:
      - qualifiedName
      - displayName
      - description
      - iconUrl
      - remote
      - deploymentUrl
      - connections
      - security
      - tools
      - resources
      - prompts
      additionalProperties: false
    RegistryError:
      type: object
      properties:
        error:
          type: string
          example: Server not found
      required:
      - error
      additionalProperties: false
    ServersListQuery:
      type: object
      properties:
        q:
          description: Search query for full-text and semantic search across server names and descriptions.
          type: string
        page:
          description: Page number (1-indexed).
          type: integer
          minimum: 1
          maximum: 9007199254740991
        pageSize:
          description: Number of results per page (default 10, max 100).
          type: integer
          minimum: 1
          maximum: 100
        topK:
          description: Maximum number of candidate results to consider from the search index before pagination.
          type: integer
          minimum: 10
          maximum: 500
        fields:
          description: Comma-separated list of fields to include in response
          type: string
        ids:
          description: Filter by specific server IDs.
          type: array
          items:
            type: string
            format: uuid
            pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
        qualifiedName:
          description: 'Exact match on the server''s qualified name (e.g. "smithery/hello-world"). Deprecated: use GET /servers/:namespace/:server instead.'
          type: string
        namespace:
          description: Filter by the namespace that owns the server.
          type: string
        remote:
          description: Filter by remote status. Remote servers are accessed via URL; non-remote servers run locally via stdio.
        isDeployed:
          description: Filter by deployment status. Deployed servers are hosted on Smithery infrastructure.
        verified:
          description: Filter to only verified servers.
        ownerId:
          description: Filter by the server owner's user ID.
          type: string
        repoOwner:
          description: Filter by GitHub repository owner from repository_url.
          type: string
        repoName:
          description: Filter by GitHub repository name from repository_url.
          type: string
        seed:
          description: Random seed for deterministic pagination. When provided, results use a stable sort order that is consistent across pages for the same seed value.
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
      additionalProperties: false
    ServerSummary:
      type: object
      properties:
        id:
          type: string
          example: abc123
        qualifiedName:
          type: string
          description: Unique identifier in namespace/slug format.
          example: smithery/hello-world
        namespace:
          anyOf:
          - type: string
          - type: 'null'
          description: The namespace this server belongs to, or null if unassigned.
          example: smithery-ai
        slug:
          anyOf:
          - type: string
          - type: 'null'
          description: URL-friendly short name within the namespace.
          example: hello-world
        displayName:
          type: string
          example: Hello World
        description:
          type: string
          example: A simple hello world server
        iconUrl:
          anyOf:
          - type: string
          - type: 'null'
          example: https://example.com/icon.png
        verified:
          type: boolean
          description: Whether this server has been verified by Smithery.
          example: true
        useCount:
          type: number
          description: Total number of times this server has been connected to.
          example: 42
        remote:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the server is accessed via URL (true) or runs locally via stdio (false). Null if unknown.
          example: true
        isDeployed:
          type: boolean
          description: Whether the server is currently hosted on Smithery infrastructure.
          example: true
        createdAt:
          type: string
          description: ISO 8601 timestamp of when the server was registered.
          example: '2024-01-01T00:00:00.000Z'
        homepage:
          type: string
          description: The server owner's homepage URL, or the server's Smithery page as a fallback. Will become nullable in a future release.
          example: https://example.com
        bySmithery:
          type: boolean
          description: Whether this server is maintained by Smithery (i.e. owned by the Smithery organization).
          example: false
        owner:
          anyOf:
          - type: string
          - type: 'null'
          description: User ID of the server owner, or null for community servers.
          example: user_abc123
        score:
          anyOf:
          - type: number
          - type: 'null'
          description: RRF relevance score from search (null for browse requests).
          example: 0.016
      required:
      - id
      - qualifiedName
      - namespace
      - slug
      - displayName
      - description
      - iconUrl
      - verified
      - useCount
      - remote
      - isDeployed
      - createdAt
      - homepage
      - bySmithery
      - owner
      - score
      additionalProperties: false
      id: ServerSummary
    ServersListResponse:
      type: object
      properties:
        servers:
          type: array
          items:
            $ref: '#/components/schemas/ServerSummary'
        pagination:
          type: object
          properties:
            currentPage:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
              description: Current page number (1-indexed).
              example: 1
            pageSize:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
              description: Number of results per page.
              example: 10
            totalPages:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
              description: Total number of pages available.
              example: 5
            totalCount:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
              description: Total number of matching servers.
              example: 42
          required:
          - currentPage
          - pageSize
          - totalPages
          - totalCount
          additionalProperties: false
      required:
      - servers
      - pagination
      additionalProperties: false
    ServersListError:
      type: object
      properties:
        error:
          type: string
          example: Server not found
      required:
      - error
      additionalProperties: false
    SkillsListQuery:
      type: object
      properties:
        q:
          description: Search query for full-text and semantic search across skill names and descriptions.
          type: string
        category:
          description: Filter by skill category (e.g. 'code', 'data', 'web').
          type: string
        namespace:
          description: Filter by the namespace that owns the skill.
          type: string
        slug:
          description: 'Filter by exact skill slug within a namespace. Deprecated: use GET /skills/:namespace/:slug instead.'
          type: string
        ownerId:
          description: Filter by the skill owner's organization ID.
          type: string
        verified:
          description: Filter by whether the skill's namespace is verified.
          type: boolean
        page:
          description: Page number (1-indexed).
          type: integer
          minimum: 1
          maximum: 9007199254740991
        pageSize:
          description: Number of results per page (default 20, max 100).
          type: integer
          minimum: 1
          maximum: 100
        topK:
          description: Maximum number of candidate results to consider from the search index before pagination.
          type: integer
          minimum: 10
          maximum: 500
        fields:
          description: Comma-separated list of fields to include in response
          type: string
      additionalProperties: false
    SkillSummary:
      type: object
      properties:
        id:
          type: string
        namespace:
          type: string
          description: Namespace that owns this skill.
        slug:
          type: string
          description: URL-friendly short name within the namespace.
        displayName:
          type: string
        description:
          type: string
        prompt:
          anyOf:
          - type: string
          - type: 'null'
          description: The prompt template for this skill, or null if not publicly visible.
        qualityScore:
          type: number
          description: Computed quality score from 0 to 1.
        externalStars:
          description: GitHub star count of the source repository, if applicable.
          type: number
        externalForks:
          description: GitHub fork count of the source repository, if applicable.
          type: number
        totalActivations:
          description: Total number of times this skill has been activated.
          type: number
        uniqueUsers:
          description: Number of distinct users who have activated this skill.
          type: number
        categories:
          description: List of categories this skill belongs to.
          type: array
          items:
            type: string
        servers:
          description: Qualified names of MCP servers this skill depends on.
          type: array
          items:
            type: string
        gitUrl:
          description: URL to the skill's source repository.
          anyOf:
          - type: string
          - type: 'null'
        verified:
          type: boolean
          description: Whether this skill's namespace is verified.
        listed:
          type: boolean
          description: Whether this skill is publicly listed in the registry.
        createdAt:
          type: string
          description: ISO 8601 timestamp of when the skill was created.
      required:
      - id
      - namespace
      - slug
      - displayName
      - description
      - prompt
      - qualityScore
      - verified
      - listed
      - createdAt
      additionalProperties: false
      id: SkillSummary
    SkillsListResponse:
      type: object
      properties:
        skills:
          type: array
          items:
            $ref: '#/components/schemas/SkillSummary'
        pagination:
          type: object
          properties:
            currentPage:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
              description: Current page number (1-indexed).
            pageSize:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
              description: Number of results per page.
            totalPages:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
              description: Total number of pages available.
            totalCount:
              type: integer
              minimum: -9007199254740991
              maximum: 9007199254740991
              description: Total number of matching skills.
          required:
          - currentPage
          - pageSize
          - totalPages
          - totalCount
          additionalProperties: false
      required:
      - skills
      - pagination
      additionalProperties: false
    SkillsListError:
      type: object
      properties:
        error:
          type: string
      required:
      - error
      additionalProperties: false
    DeployResponse:
      type: object
      properties:
        deploymentId:
          type: string
          format: uuid
          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
          description: Unique identifier for this release.
          example: 123e4567-e89b-12d3-a456-426614174000
        status:
          type: string
          description: Initial status. Will be WORKING while the release is in progress.
          example: WORKING
        mcpUrl:
          type: string
          format: uri
          description: The MCP endpoint URL for connecting to this server once published.
          example: https://slug.run.tools
        warnings:
          description: Non-fatal warnings encountered during submission.
          type: array
          items:
            type: string
      required:
      - deploymentId
      - status
      - mcpUrl
      additionalProperties: false
    DeploymentLogEntryError:
      type: object
      properties:
        message:
          type: string
      additionalProperties: false
      id: DeploymentLogEntryError
    DeploymentLogEntry:
      type: object
      properties:
        stage:
          type: string
          enum:
          - deploy
          - scan
          - metadata
          - publish
          description: 'Pipeline stage: deploy (bundle upload), scan (security/OAuth check), metadata (tool discovery), publish (generated artifacts).'
        level:
          type: string
          description: 'Log level: ''start'', ''end'', ''info'', ''success'', or ''failure''.'
        message:
          type: string
          description: Human-readable log message.
        timestamp:
          type: string
          description: ISO 8601 timestamp of the log entry.
        error:
          description: Error details, present only when the stage failed.
          $ref: '#/components/schemas/DeploymentLogEntryError'
      required:
      - stage
      - level
      - message
      - timestamp
      additionalProperties: false
    DeploymentInfo:
      type: object
      properties:
        id:
          type: string
          format: uuid
          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
        status:
          type: string
          description: 'Current status: QUEUED, WORKING, SUCCESS, FAILURE, FAILURE_SCAN, AUTH_REQUIRED, CANCELLED, or INTERNAL_ERROR.'
        type:
          type: string
          description: 'Release type: hosted_shttp (Smithery-hosted), external_shttp (external URL), or stdio (local binary).'
        commit:
          description: Git commit SHA that triggered this release.
          anyOf:
          - type: string
          - type: 'null'
        commitMessage:
          description: Git commit message associated with this release.
          anyOf:
          - type: string
          - type: 'null'
        branch:
          description: Git branch this release was built from.
          anyOf:
          - type: string
          - type: 'null'
        upstreamUrl:
          description: Upstream MCP server URL. Present only for external releases.
          anyOf:
          - type: string
          - type: 'null'
        logs:
          description: Pipeline log entries. Only included when fetching a single release.
          type: array
          items:
            $ref: '#/components/schemas/DeploymentLogEntry'
        mcpUrl:
          description: The MCP endpoint URL for connecting to this server.
          type: string
          format: uri
        createdAt:
          type: string
          description: ISO 8601 timestamp of when the release was created.
        updatedAt:
          type: string
          description: ISO 8601 timestamp of the last status change.
      required:
      - id
      - status
      - type
      - createdAt
      - updatedAt
      additionalProperties: false
    DeploymentList:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
[...]
